Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length
WarningsAsErrors: '*'
HeaderFilterRegex: 'src/.*'
CheckOptions:
  misc-include-cleaner.IgnoreHeaders: 'vendor/.*'
